<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ScoutIt</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f5f5f5;
            color: #333;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #4ac378;
            color: white;
            text-align: center;
            padding: 1em;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .shop-details,
        .retailer-details {
            margin-bottom: 20px;
        }

        .shop-name,
        .retailer-name {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 5px;
            color: #333;
        }

        .retailer-name {
            font-size: 20px;
            margin-bottom: 5px;
            color: #555;
        }

        .retailer-phone {
            font-size: 18px;
            margin-bottom: 10px;
            color: #555;
        }

        .take-me-there-button {
            background-color: #4ac378;
            color: white;
            padding: 8px 12px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .item-section {
            margin-top: 20px;
        }

        .item-list {
            list-style: none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
        }

        .item {
            border: 1px solid #ddd;
            border-radius: 8px;
            margin: 10px;
            padding: 10px;
            width: 200px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            position: relative;
        }

        .item-image {
            max-width: 100%;
            height: auto;
            border-radius: 4px;
        }

        .item-details {
            margin-top: 10px;
        }

        .item-name {
            margin: 0;
            font-size: 16px;
        }

        .item-description {
            color: #666;
            font-size: 14px;
        }

        .item-price {
            margin: 5px 0 0;
            font-size: 16px;
            font-weight: bold;
        }

        .no-items,
        .alert-message,
        .pack-form {
            margin-top: 10px;
            font-size: 16px;
            color: #888;
        }

        .remove-item-button {
            display: none;
            position: absolute;
            top: 5px;
            right: 5px;
            background-color: #d9534f;
            color: white;
            border: none;
            padding: 5px 10px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 12px;
        }

        .added-items-section {
            margin-top: 20px;
        }

        .added-items-list {
            list-style: none;
            padding: 0;
        }

        .added-item {
            margin-bottom: 10px;
        }

        .added-item-details {
            display: flex;
            justify-content: space-between;
        }

        .added-item-remove-button {
            background-color: #d9534f;
            color: white;
            border: none;
            padding: 5px 10px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 12px;
        }

        #show-form-button,
        #cancel,
        #pack-form-button {
            background-color: #4ac378;
            color: white;
            padding: 8px 12px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-top: 10px;
        }
    </style>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="logo-container ">
        <img src="logo-removebg-preview.png" alt="ScoutIt Logo">
    </div>
    <header>
        <h1>Retailer Profile</h1>
    </header>

    <div class="container">
        <div class="shop-details">
            <p class="shop-name">Shop: <%= retailer.shop_name %></p>
        </div>

        <div class="retailer-details">
          <input id="id" type="hidden" value=" <%= id %>">
          <input id="rid" type="hidden" value=" <%= retailer.id %>">
            <p class="retailer-name">Owner: <%= retailer.full_name %></p>
            <p class="retailer-phone">Phone: <%= retailer.phone_number %></p>
            <button class="take-me-there-button" data-latitude="<%= retailer.latitude %>"
                data-longitude="<%= retailer.longitude %>">Take me there</button>
        </div>

        <!-- Display the items the retailer contains -->
        <div class="item-section">
            <h2>Items in Stock:</h2>
            <% if (items.length > 0) { %>
            <ul class="item-list">
                <% items.forEach((item) => { %>
                <li id="item<%= item.id %>" class="item">
                    <img src="uploads/<%= item.image_path %>" alt="<%= item.name %>" class="item-image">
                    <div class="item-details">
                        <h3 class="item-name"><%= item.name %></h3>
                        <p class="item-description"><%= item.description %></p>
                        <p class="item-units" style="display: none;"><%= item.units %></p>
                        <p class="item-price">Price : <%= item.price %> / <%= item.quantity %> <%= item.units %></p>
                    </div>
                    <form id="add-form<%= item.id %>">
                        <input type="number" id="quantity<%= item.id %>" name="quantity<%= item.id %>" min="0.25" step="0.25"
                            required>
                        <!-- Add and Remove buttons -->
                        <button type="submit" class="add-item-button" data-item-id="<%= item.id %>">Add</button>
                    </form>
                    <!-- Hidden input for selected items -->
                </li>
                <% }); %>
            </ul>
            <div class="added-items-section">
                <h2>Added Items:</h2>
                <ul id="added-items-container" class="added-items-list">
                    <!-- Dynamically populate this list using JavaScript -->
                </ul>
                <button id="show-form-button">Submit</button>
                <div id="alert-form" class="alert-message" style="display: none;">
                    <p>No items added.</p>
                </div>
                <div id="pack-form" class="pack-form" style="display: none;">
                    <p>Request Sent</p>
                </div>
                <div id="phone-number-form" style="display: none;">
                    <form id="order-form" data-retailer-id="<%= retailer.id %>">
                        <label for="phone-number">Enter your phone number:</label>
                        <input type="tel" id="phone-number" pattern="[0-9]{10}" name="phone-number" required>
                        <button type="submit" id="pack-form-button">Pack It</button>
                    </form>
                    <button id="cancel" type="button">Cancel</button>
                </div>
            </div>
            <% } else { %>
            <p class="no-items">No items in stock.</p>
            <% } %>
        </div>
    </div>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script>
      const socket = io('http://localhost:3000');
      const userId = document.getElementById('id').value;
      const rId = document.getElementById('rid').value;
      socket.emit('join', `user_${userId.trim()}`);
      
      // Add a log statement to see if this code is reached
      Notification.requestPermission();
    
      socket.on('newMessage', (message) => {
        // Add a log statement to see if this code is reached
        if (Notification.permission === 'granted') {
          const notification = new Notification('New Message Received!', {
            icon: 'logo.png', // Replace with the path to your notification icon
            body: `${message.message}`,
          });
    
          // You can also add an event listener for user interaction with the notification
          // notification.addEventListener('click', () => {
          //   // Handle notification click, e.g., redirect to the orders page
          //   window.location.href = `/user/viewProfile/retailerId=${rId}`;
          // });
        }
        // Handle the new order notification, e.g., show an alert
        // alert('New order received!');
      });
      </script>
  <script>
    document.querySelectorAll('.take-me-there-button').forEach(button => {
      button.addEventListener('click', function() {
        const latitude = this.getAttribute('data-latitude');
        const longitude = this.getAttribute('data-longitude');
        const googleMapsUrl = `https://www.google.com/maps/search/?api=1&query=${latitude},${longitude}`;
        window.open(googleMapsUrl, '_blank');
      });
    });
    document.addEventListener('DOMContentLoaded', function () {
    let storedItems = JSON.parse(localStorage.getItem('selectedItems')) || {};
    
    // Add click event listener to "Add" buttons
    document.querySelectorAll('.add-item-button').forEach(button => {
      const itemId = button.getAttribute('data-item-id');
      const quantityInput = document.getElementById(`quantity${itemId}`);

      const addform = document.getElementById(`add-form${itemId}`);
  addform.addEventListener('submit', function (event) {
        event.preventDefault();
        document.getElementById('show-form-button').style.display = 'block';
        const newQuantity = parseFloat(quantityInput.value);
        updateQuantity(itemId, newQuantity);
        displayAddedItems();
        quantityInput.value = ''; // Clear the input after adding
      });
    });

    // Function to update quantity for a specific item
    function updateQuantity(itemId, newQuantity) {
      const quantityInput = document.getElementById(`quantity${itemId}`);

      // Update stored items in localStorage
      storedItems[itemId] = newQuantity;
      localStorage.setItem('selectedItems', JSON.stringify(storedItems));
    }

    // Function to display added items
    function displayAddedItems() {
      const addedItemsContainer = document.getElementById('added-items-container');
      addedItemsContainer.innerHTML = '';
      if(JSON.stringify(storedItems) === '{}')
        {
          document.getElementById('alert-form').style.display = 'block';
          document.getElementById('phone-number-form').style.display = 'none';
          document.getElementById('show-form-button').style.display = 'none';
        }
        else
        {
          document.getElementById('show-form-button').style.display = 'block';
      Object.entries(storedItems).forEach(([itemId, quantity]) => {
        document.getElementById('alert-form').style.display = 'none';
       
          if (quantity > 0) {
            const itemDetails = getItemDetails(itemId);
            const listItem = document.createElement('li');
            listItem.innerHTML = `${itemDetails.name} : ${quantity}(${itemDetails.units}) <button class="remove-added-item-button" data-item-id="${itemId}">Remove</button>`;
            addedItemsContainer.appendChild(listItem);
        }
      
       
      });

      // Add click event listener to "Remove" buttons for added items
      document.querySelectorAll('.remove-added-item-button').forEach(button => {
        const itemId = button.getAttribute('data-item-id');
        button.addEventListener('click', function () {

          delete storedItems[itemId]; // Remove the item
       
          localStorage.setItem('selectedItems', JSON.stringify(storedItems));
          displayAddedItems();
         
        });
      });
    }
    }

    // Initial display of added items
    function getItemDetails(itemId) {
      const itemElement = document.getElementById(`item${itemId}`);
      const itemName = itemElement.querySelector('.item-name').innerText;
      const itemUnits = itemElement.querySelector('.item-units').innerText;

      return { name: itemName, units: itemUnits };
    }

    // Initial display of added items
    displayAddedItems();


   const showFormButton = document.getElementById('show-form-button');
  showFormButton.addEventListener('click', function () {
    // Show the form when the user clicks the "Submit" button
    if(JSON.stringify(storedItems) === '{}')
    {
      document.getElementById('alert-form').style.display = 'block';
      document.getElementById('phone-number-form').style.display = 'none';
    }
    else
    {
      document.getElementById('alert-form').style.display = 'none';
    document.getElementById('phone-number-form').style.display = 'block';
    document.getElementById('show-form-button').style.display = 'none';
    }
  });
 

  // Add submit event listener to the form
  const orderForm = document.getElementById('order-form');
  orderForm.addEventListener('submit', function (event) {
    
    event.preventDefault(); // Prevent the form from submitting in the traditional way
    // Get the user's phone number from the form input
    const phoneNumber = document.getElementById('phone-number').value;

    if (phoneNumber) {
      // Send selected items and user's phone number to the retailer
      sendOrderToRetailer(phoneNumber);
    }
  });

  // Function to send order details to the retaile
  function sendOrderToRetailer(phoneNumber) {
    const retailerId = document.getElementById('order-form').getAttribute('data-retailer-id'); // Replace with actual retailer ID
 

    const orderDetails = {
      items: storedItems,
      phoneNumber: phoneNumber
    };
  

    fetch("/user/pack", {
  method: "POST",
  body: JSON.stringify({
    orderDetails:orderDetails,
    retailerId:retailerId,
  }),
  headers: {
    'Accept': 'application/json',
        'Content-Type': 'application/json'
  }
});
localStorage.removeItem('selectedItems');
storedItems = {};
displayAddedItems();
document.getElementById('phone-number-form').style.display = 'none';
// document.getElementById('pack-form').style.display = 'block';
document.getElementById('alert-form').innerHTML = 'Sent Request';


  }
});
const orderForm = document.getElementById('cancel');
  orderForm.addEventListener('click', function (event) {
    document.getElementById('phone-number-form').style.display = 'none';
    document.getElementById('show-form-button').style.display = 'block';
  }
  );
</script>



<!-- <%- include('partials/footer') %> -->
